.card img {
    object-fit: cover;
    height: 100px;
    width: 100px;
  }
  
  button {
    font-size: 1rem;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .card-body {
      text-align: center;
    }
  }
  